ul {
  margin: 0;
  padding: 0;
  display: flex;
  border-block-end: 1px solid;

  li {
    &.active {
      border-block-end: 1px solid purple;
    }

    + li {
      padding-inline-start: 1em;
    }

    button {
      border: none;
      background: none;
      padding: 0;
      cursor: pointer;
    }
  }
}
