@mixin app-component-light-styles {
  header {
    background-color: var(--neutral);
    color: var(--neutral-l90);
  }

  .content {
    nav {
      ul {
        a {
          border-inline-start: 1px solid var(--neutral);

          &.active {
            border-inline-start: 1px solid var(--blue);
            color: var(--blue-d20);
          }
        }
      }
    }
  }
}

@media (prefers-color-scheme: light) {
  @include app-component-light-styles();
}

[data-theme='light'] {
  @include app-component-light-styles();
}

