@use './light';
@use './dark';

:host {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  background-color: var(--neutral-l90);
  padding: var(--space-s);

  .home-link {
    text-decoration: none;

    .logo-flair {
      rotate: -15deg;
      font-family: 'Passions Conflict', cursive;
      font-size: 60px;
      margin-block-start: -60px;
      margin-inline-start: 55px;
      border: 1px solid;
      text-align: center;
      text-box-trim: trim-both;
      text-box-edge: cap alphabetic;
      padding-bottom: 15px;
      display: none;
    }
  }

  nav {
    align-content: center;
    flex-grow: 1;
    text-align: end;
  }
}

.content {
  display: flex;
  align-self: center;
  max-width: clamp(16rem, var(--wrapper-max-width, 98rem), 95vw);
  padding: var(--space-s-m);

  nav {
    margin-inline-end: var(--space-s);

    h4 {
      white-space: nowrap;
    }

    ul {
      padding: 0;

      a {
        padding-inline-start: var(--space-xs);
        text-decoration: none;
      }
    }
  }

  main {
    flex-grow: 1;
  }
}
